@media only screen and (min-width: 414px) and (max-width: 736px)
 { 

     .login-page{
    width: 80%;
    padding: 8% 0 0 !important;
    margin: auto;
  }  

}


@media only screen and (min-width: 735px) and (max-width: 1020px)
 { 

     .login-page{
    width: 60%;
    padding: 8% 0 0 !important;
    margin: auto;
  }  

}