.bg-danger, .bg-success {
	padding: 0 5px;
}

a {
	color: #8FD4F3;
	text-decoration: none;
    font-size: 18px;
}

a:hover{
    color: yellow;
}



.logo{
	font-family: 'Nunito', sans-serif;
	font-size: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: white !important ;
    background-color: black !important;
    border-color: #A34A50 !important; /*set the color you want here*/
}


.bg-danger {
    background-color: #8DC5C0 !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #188fff !important;
    border-color: #2e6da4 !important;
}


hr{
    border-color: #188fff !important;
    background-color: #188fff !important;
}

body{
    color: white;
}


.design{
    padding-top: 8%;
}