.bg-danger, .bg-success {
	padding: 0 5px;
}

a {
	color: #B6E4E0;
	text-decoration: none;
}



.logo{
	font-family: 'Nunito', sans-serif;
	font-size: 0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}